.dummy{
	color : black;
}
/* 17-07-2024 */
.cs-detail .slds-form-element__label{
	padding: inherit;
}
lightning-output-field{
	
}
.slds-col.slds-size_1-of-2.fields.slds-form-element_horizontal {
    border-bottom: 1px solid #ccc !important;
    min-height: 61px !important;
    padding: 0 0 !important;
    display: flex !important;
    align-items: center !important;
}