.THIS.c-container {
    border: 1px solid #ffffff;
    margin: 10px 0 20px 0;
    background : white;
}

.THIS .mapClass span:first-child{
    font-weight : bold !important;
}

.THIS .containr{
    padding : 10px;
    
} 
.THIS .slds-grid {
     border: 1px solid #020202 !important;
       
}